#body
{
	background:grey url(images/bg.jpg) repeat-x;
}

#content
{
	padding: 30px;
	text-family: Helvetica;
	background-color: #FFFFFF;
	
}

#header {
	text-color: #FFFFFF;
	text-align: center;
	padding: 30px;
    	background-color: black;
	border-bottom: 10px;
	border-bottom-style: outset;
}

#nav {
	font: 15px Helvetica;
    float: left;
    max-width: 160px;
	height: 100%;
    margin: 0;
    padding: 1em;
	background-color: grey;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav li {
	background-color: white;
	width: 100%;
	padding: 5px 0px 5px 0px;
	text-align: center;
	
}
   
#nav ul a {
    text-decoration: none;
}
