body {
	padding:0px;
	margin:0px;
}

a {
	text-decoration: none;
	color: inherit;
}

td {
	padding: 10px;
}

#name {
	font: 20px Helvetica;
	text-align: center;
	padding: 5px;
}

#mapcontainer
{
	padding: 30px 5px 30px 25%;
	font-family: Helvetica;
	color: #dddddd;
	background-color: #141a1f;
	
}

#map
{
	width: 400px;
	height: 400px;
}

#video
{
	padding: 30px 5px 30px 25%;
	font-family: Helvetica;
	color: #dddddd;
	background-color: #141a1f;
	
}

#content
{
	padding: 30px 5px 30px 25%;
	font-family: Helvetica;
	color: #dddddd;
	background-color: #141a1f;
	
}
#gallery
{
	padding: 30px 5px 30px 25%;
	font-family: Helvetica;
	color: #dddddd;
	background-color: #141a1f;
	
}

#image
{
	height: 200px;
	align: center;
	transition: all 0.3s ease;
}

#image:hover
{
	width:initial;
	transform: scale(3);
	transform-origin:top left;
}

#contact
{
	padding: 30px 5px 30px 25%;
	font-family: Helvetica;
	color: #dddddd;
	background-color: #141a1f;
	
}

ul {
	list-style-type:none;
}

ol {
	list-style-type:none;
}

#nav {
	position: fixed;
	font: 30px Helvetica;
	color: #dddddd;
    	float: left;
    	width: 20%;
    	height:100vh;
   	margin: 0px;
	background-color: #0d1013;
	border: 1px 1px 1px 0px;
	border-color: #5c7a8c;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav li {
	max-width: 100%;
	padding: 5px 0px 5px 0px;
	text-align: center;
	transition: background-color 0.2s;
}

#nav li:hover {
	background-color: #141a1f;
}
   
#nav ul a {
    text-decoration: none;
}

input[type=text]
{
	width:20%;
}

#message
{
	width:50%;
}
