#body
{
	background:grey url(images/bg.jpg) repeat-x;
}

#content
{
	padding: 30px;
	text-family: Helvetica;
	background-color: #FFFFFF;
	
}

#div.container {
    width: 100%;
    border: 1px solid gray;
}

#header {
	
    	background-color: black;
    	clear: left;
   	text-align: center;
	text-color: #FFFFF;
	border-bottom-style: outset;
}

#nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}
   
#nav ul a {
    text-decoration: none;
}
